<h1>Stupid Coaching</h1>
<div class="You">
  <p>You</p>
  <p><%= @answer %></p>
</div>
<div class="coach">
  <p>Your coach</p>
  <p><%= @coach_answer %></p>
</div>

<%= link_to "ask again", ask_path %>
